<%= render "shared/navbar", title: "Categories", menu: true %>

<div class="flex flex-col items-center">
  <div class="w-full px-4 overflow-y-scroll max-h-categories mb-5">
    <% @groups.each do |group| %>
      <%= link_to group do %>
        <div
          class="
            flex
            flex-row
            py-4
            items-center
            border-solid
            border
            bg-white
            border-gray-400
            my-4
            w-full
            shadow-md
          "
        >
          <div class="ms-2 w-20 text-center">
            <i class="fa-solid fa-2xl <%=group.icon%>"></i>
          </div>
          <div class="flex flex-col mx-4 self-start w-full">
            <p class="font-medium text-tertiary text-2xl capitalize"><%= group.name %></p>
            <p class="text-tertiary"><%= group.created_at.strftime("%d-%b-%Y") %>
            </p>
          </div>
          <div class="me-2 mt-1 self-start">
            <p class="font-bold">
              <%= number_to_currency(group.total_expense) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<footer class="flex items-center p-4 bg-secondary absolute bottom-0 w-full">
  <%= link_to "Add a Category",
  new_group_path,
  class: "p-4 border border-white text-white w-full text-center rounded uppercase" %>
</footer>
